*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color:#1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;

    --big-font: 7rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    /* width: 100rem; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
    margin-right: 120px;
}
.logo span{
    color: var(--main-color);
} 
.navbar{
    display: flex;
    
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 20px;
    transition: all ease .50s;
}
.navbar a:hover{
    color: var(--main-color);
      
}

.navbar a.active{
    color: var(--main-color);
}
.menu-btn{
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}
section{
    padding: 0 15%;
    
}
 .home{
    position: relative;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
} 
 .home-img{
    width: 730px;
    height: 730px;
    font-size: 10px;
} 
 .home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} 

 .home-text span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    /* text-align: center; */
} 
 .home-text h1{
    /* font-size: var(--big-font); */
    font-size: 3rem;
    margin: 23px 0;
 
} 
 .home-text p{
    font-size: var(--p-font);
    font-weight: 200;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: bold;
   
} 
   .btn{
    background-color:var(--main-color); /* Green */
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin:10px 5px;
    cursor: pointer; 
}  

.btn:hover{
    transform: translate(-5px);
    background: transparent;
    color: var(--main-color);
}

.two{
    background: #141414;
    border: 2px solid#141414;
    color: var(--text-color);
    margin-left: 25px;
}
.share{
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}
.share p{
    font-size: 16px;
    /* color: var(--text-color); */
    color:orange;
    margin-right: 25px;
}
  .social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
  }
  .social i:hover{
    transform: translateY(-10px);
    color: darkmagenta;
  } 
  .home-img img{
    animation: img 2s ease-in-out infinite;
    animation-delay: 2s;
  }
@keyframes img{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
} 

   @media (max-width: 550px){
    header{
        padding: 15 8%;
        transition: .2s;
    }
    section{
        padding: 0.8%;
        transition: .2s;
    }
    .share{
        left: 8%;
        transition: .2s;
    }
  }  
  .button3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  @media screen and (max-width: 800px)and (min-width: 656px)
         {
    .navbar{
        width: 500px;
        background-color: red;
        
    }
}


/* @media screen and (min-width: 768px) {
    header {
      padding: 32px 5%;
    }
  
    .logo {
      font-size: 41px;
    }
  
    .navbar {
      display: flex;
    }
  
    .navbar a {
      font-size: 16px;
      margin: 0 20px;
      color: #fff;
    }
  
    .home {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 64px 15%;
    }
  
    .home-text h1 {
      font-size: 48px;
      margin: 32px 0;
    }
  
    .home-text p {
      font-size: 20px;
      margin-bottom: 32px;
    }
  
    .btn {
      font-size: 18px;
    }
  } */




 

 @media screen and (max-width: 768px) {
    body {
        overflow: auto; 
    }

    header {
        padding: 15px 8%; 
    }

    section {
        padding: 8%; 
    }

    .share {
        left: 8%; 
    }

    .navbar {
        display: none; 
    }

    .menu-btn {
        display: block; 
    }

    .home {
        flex-direction: column; 
        height: auto; 
    }

    .home-img {
        width: 100%; 
        height: auto; 
    }

    .home-text h1 {
        font-size: 2rem; 
    }

    .home-text p {
        font-size: 1rem; 
        line-height: 24px; 
    }

    .btn {
        font-size: 13px; 
        margin: 10px 0; 
    }
}  



